In [ ]:
using input function,get users age
using if condition compare end user age with 18 or olderthan 18
if condition is equal or greater then 18 
print eligible
or not eligible

In [ ]:
to find largest value in List 
use max() buildin function
it returns maximum value in given list

In [ ]:
get employees salary using input function
if salary exceeds $50,000 calculate 10% of bonus
if not bonus return to zero

In [ ]:
Get number from user 
use if condition , given number%2 if it is ==0 the givn number is even
if not it is odd number

In [ ]:
Taking word as input
Using string slicing method to reverse the given word
reverse method[::-1] get output reverse word

In [ ]:
Get marks from student
using if condition compare student mark with greater or equal to 40
if it is greater or equal to 40 
print pass
otherwise print fail

In [ ]:
If customer total exceeds $100
Discount 20% from total value
Subtract discount from original value
Return the value to be paid

In [ ]:
Check User balance
If withdrawl amount is less than balance allow to withdraw
if withdrawal amount is greater than balance show insufficient balance

In [ ]:
Get year from user
year divisible by 4 but not by 100 it is leap year
year divisible by 100 but not by 400 it is not leap year
year divisible by 400 it is leap year
otherwise it is not leap year

In [ ]:
Get numbers from the list
Create an empy list name as even numbers
using if condition check number divisible by 2
if it is diviible add to even number list
finally return values from even numbers