In [ ]:
: mising

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [ ]:
concatenation doesn't done between string and int so string is converted into int

In [3]:
a=10
b="5"
print(a+int(b))

15

In [ ]:
: mising, missing function call

In [2]:
def add_numbers(a,b):
    return a+b

add_numbers(1,2)

3

In [ ]:
index error, total element is 4 imdex value is 3 but try to get 4th index which is not exist

In [3]:
numbers = [1, 2, 3, 4]
print(numbers[3])

4

In [ ]:
 open bracket missing

In [4]:
print("Hello, World!")

Hello, World!

In [ ]:
x=5/0   is undefined

In [12]:
x=5/1
print(x)

5.0

In [ ]:
string and int can not be added ,  so integer converted to string

In [13]:
name="alice"
age=25
print("Name: " + name + ",Age:" + str(age))

Name: alice,Age:25

In [ ]:
for-1 step swap start and stop value for decrementing

In [5]:
for i in range(10,1,-1):
    print(i)

10
9
8
7
6
5
4
3
2

In [ ]:
= used t0 assign value, == comparison

In [21]:
x=10
if(x == 5):
    print("x is 5")
else:
    print("x is not 5")

x is not 5

In [ ]:
functioncall mising, : miss

In [19]:
def greet(name):
    print("Hello," + name)

greet("Maha")

Hello,Maha