Math should lowercase as math

In [1]:
import math
print(math.sqrt(16))

4.0

In [ ]:
variable should be inside the function, ifoutside function use global

In [2]:
def my_function():
    x = 10
    x += 5
    print(x)

my_function()

15

In [ ]:
use == to compare

In [3]:
x = 5
if (x==10):
    print("x is 10")
else:
    print("x is not 10")

x is not 10

In [ ]:
it modify numbers in original list and doesn't return value

In [4]:
numbers = [5, 3, 8, 2]
numbers.sort()
print(numbers)

[2, 3, 5, 8]

In [ ]:
return is missing

In [5]:
def square(n):
    x=n*n
    return x

square(4)

16

In [ ]:
Tuples are immutable and cannot modified so create new tuple

In [8]:
my_tuple = (1, 2, 3)
new_tuple = (1,5,3)
print(new_tuple)

(1, 5, 3)

In [ ]:
placeholder is missing for integer

In [9]:
name = "Alice"
age = 25
print("My name is %s and I am %d years old" % (name, age))

My name is Alice and I am 25 years old

In [ ]:
is used for identity == check for comparison

In [10]:
a = [1, 2, 3]
b = [1, 2, 3]
if a==b:
    print("Lists are equal")

Lists are equal

In [ ]:
for decrementing -1 step used

In [11]:
for i in range(5, 1,-1):
    print(i)

5
4
3
2

In [ ]:
key is in string

In [12]:
student = {"name": "John", "age": 20}
print(student["name"])

John